{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="dashboard/images/favicon.png">
    <title>Dashboard</title>
    <!-- Custom CSS -->
    <link href="dashboard/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dashboard/css/style.min.css" rel="stylesheet">
    <link href="dashboard/css/custom.css" rel="stylesheet">
   
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/animation.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/asColorPicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/fullcalendar.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/calendar.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/fontawesome-all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/jquery.gritter.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/jquery.minicolors.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/jquery.steps.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/magnific-popup.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/materialdesignicons.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/multicheck.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/perfect-scrollbar.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/quill.core.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/quill.snow.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/steps.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/themify-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/toastr.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/weather-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/weather-icons.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/float-chart.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/style.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet"/>
     <!-- Datatable export data lib css-->
    <link href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css" rel="stylesheet"/>

   
    
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar fixed-top top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="{% static 'media/images/logo-default-245x50.png' %}" alt="homepage" class="light-logo" />
                        </b>
                    
                    </a>
                </div>
            </nav>
        </header>
      
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30 p-y-5">
                        <li class="sidebar-item active"> <a class=" sidebar-link waves-effect waves-dark " href="{% url 'boad' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                        </li>
                        <li class="sidebar-item"> <a class=" sidebar-link waves-effect waves-dark" href="{% url 'mails_personnalisee' %}" aria-expanded="false"><i class="fa fa-comments"></i><span class="hide-menu">Mails Personnalisés</span></a></li>
                        </li>
                    </ul>
                    <ul id="sidebarnav" class="p-t-30">
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        {% block 'content' %}
        
        {% endblock 'content' %}
    </div>
    <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
        <script src="{% static 'dashboard/js/popper.min.js' %}"></script>
        <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>

        <script src="{% static 'dashboard/js/perfect-scrollbar.jquery.min.js' %}"></script>
        <script src="{% static 'dashboard/js/sparkline.js' %}"></script>
        <script src="{% static 'dashboard/js/waves.js' %}"></script>
        <script src="{% static 'dashboard/js/sidebarmenu.js' %}"></script>
        <script src="{% static 'dashboard/js/custom.min.js' %}"></script>

        <script src="{% static 'dashboard/js/excanvas.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.flot.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.flot.pie.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.flot.time.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.flot.time.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.flot.stack.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.flot.crosshair.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.flot.tooltip.min.js' %}"></script>
        <script src="{% static 'dashboard/js/moment.min.js' %}"></script>
        <script src="{% static 'dashboard/js/chart-page-init.js' %}"></script>
        <script src="{% static 'dashboard/js/app-style-switcher.js' %}"></script>
        <script src="{% static 'dashboard/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'dashboard/js/datatable-checkbox-init.js' %}"></script>
        <script src="{% static 'dashboard/js/datatables.min.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'dashboard/js/dataTables.bootstrap4.min.js' %}"></script>
        
    
        <script src="{% static 'dashboard/js/jquery.charts-sparkline.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery-asColor.min.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery-asGradient.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery-asColorPicker.min.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.minicolors.min.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.multicheck.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'dashboard/js/toastr.min.js' %}"></script>
        <script src="{% static 'dashboard/js/select2.min.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.inputmask.bundle.min.js' %}"></script>

        <!-- Datatable export data lib js-->
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
       
        
       
       
        
        

        <script>
            $('#zero_config').DataTable({
                scrollCollapse: true,
                pagingType: "simple_numbers",
                lengthMenu:[5,10,15,20,25],
                pageLength: 3
            });
            
        </script>

        <script>
            $('#profile').DataTable({
                scrollCollapse: true,
                pagingType: "simple_numbers",
                lengthMenu:[5,10,15,20,25],
                pageLength: 3
            });
        </script>

        <script>
            $('#demande').DataTable({
                scrollCollapse: true,
                pagingType: "simple_numbers",
                lengthMenu:[5,10,15,20,25],
                pageLength: 3
            });
        </script>
        <script>
            $('#mentorat').DataTable({
                scrollCollapse: true,
                pagingType: "simple_numbers",
                lengthMenu:[5,10,15,20,25],
                pageLength: 3,
                layout: {
                topStart: {
                    buttons: ['copyHtml5', 'excelHtml5', 'pdfHtml5']
                }
            }
            });
        </script>

        <script>
            $('#mails').DataTable({
                scrollCollapse: true,
                pagingType: "simple_numbers",
                lengthMenu:[5,10,15,20,25],
                pageLength: 10
            });
            
        </script>
        
        {% for message in messages %}
      <script src="{% static 'js/sweetalert.min.js' %}"></script>
      {% if message.tags == 'error' %}
      <script>
          var m = "{{ message }}";
          swal("Réfusé!", m, "error");
      </script>
      {% elif message.tags == 'success' %}
      <script>
          var m = "{{ message }}";
          swal("Bienvenue!", m, "success");
      </script>
      {% elif message.tags == 'warning' %}
      <script>
          var m = "{{ message }}";
          swal("A bientôt!", m, "warning");
      </script>
      {% endif %}

      {% endfor%}

</body>

</html>