{% extends "mentors/dashboard/base.html" %}
{% load static %}
{% block 'content' %}
        <div class="page-wrapper">
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid mb-5">
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Mentors</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-9">
                                        <div class="table-responsive">
                                            <table id="zero_config" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Prenom</th>
                                                        <th>Profile</th>
                                                        <th>Temps</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for data in mentorslists %}
                                                    <tr>
                                                        <td>{{data.user.last_name}}</td>
                                                        <td>{{data.user.first_name}}</td>
                                                        <td>{{data.user.profile}}</td>
                                                        <td>{{data.total_time_on_platform}}</td>
                                                        <td><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#mentorModal{{data.user.id}}"><i class="fa fa-eye"></i></a></td>
                                                    </tr>
                                                    {% include "mentors/mentordetail.html" %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="bg-warning p-10 text-white text-center">
                                                   <i class="fa fa-users m-b-5 font-16"></i>
                                                   <h5 class="m-b-0 m-t-5">{{users}}</h5>
                                                   <small class="font-light">Total Users</small>
                                                </div>
                                            </div>
                                             <div class="col-6">
                                                <div class="bg-warning p-10 text-white text-center">
                                                   <i class="fa fa-user-circle m-b-5 font-16"></i>
                                                   <h5 class="m-b-0 m-t-5">{{mentors}}</h5>
                                                   <small class="font-light">Mentors</small>
                                                </div>
                                            </div>
                                            <div class="col-6 m-t-15">
                                                <div class="bg-warning p-10 text-white text-center">
                                                   <i class="fa fa-users m-b-5 font-16"></i>
                                                   <h5 class="m-b-0 m-t-5">{{mentores}}</h5>
                                                   <small class="font-light">Mentorés</small>
                                                </div>
                                            </div>
                                             <div class="col-6 m-t-15">
                                                <div class="bg-warning p-10 text-white text-center">
                                                   <i class="fa fa-user m-b-5 font-16"></i>
                                                   <h5 class="m-b-0 m-t-5">{{sansmentores}}</h5>
                                                   <small class="font-light">Sans mentor</small>
                                                </div>
                                            </div>
                                            <div class="col-6 m-t-15">
                                                <div class="bg-warning p-10 text-white text-center">
                                                   <i class="fa fa-book m-b-5 font-16"></i>
                                                   <h5 class="m-b-0 m-t-5">{{superadmins}}</h5>
                                                   <small class="font-light">Compte Admin</small>
                                                </div>
                                            </div>
                                            <div class="col-6 m-t-15">
                                                <div class="bg-warning p-10 text-white text-center">
                                                   <i class="fa fa-globe m-b-5 font-16"></i>
                                                   <h5 class="m-b-0 m-t-5">{{nombre_utilisateurs_connectes}}</h5>
                                                   <small class="font-light">Connecté</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- liste profile -->
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Profiles utilisateur</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table id="profile" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Prenom</th>
                                                        <th>Domaine</th>
                                                        <th>Institut</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for data in users_profiles %}
                                                    <tr>
                                                        <td>{{data.user.last_name}}</td>
                                                        <td>{{data.user.first_name}}</td>
                                                        <td>{{data.user.domaine}}</td>
                                                        <td>{{data.etablissement}}</td>
                                                        <td><a type="button" class="btn btn-warning" data-toggle="modal" data-target="#userModal{{data.user.id}}"><i class="fa fa-eye"></i></a></td>
                                                    </tr>
                                                    {% include "mentors/detail.html" %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                 <!-- liste demande adesion -->
                <div class="row mb-5 mt-5">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Liste des demandes d'adesion</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table id="demande" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Email</th>
                                                        <th>Téléphone</th>
                                                        <th>Motivation</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for data in demandes %}
                                                    <tr>
                                                        <td>{{data.email}}</td>
                                                        <td>{{data.tel}}</td>
                                                        <td>{{data.motivation}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- liste de demande de mentorat -->
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Liste des demande de mentorat</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table id="mentorat" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Mentoré</th>
                                                        <th>Téléphone</th>
                                                        <th>Email</th>
                                                        <th>Date debut</th>
                                                        <th>Date fin</th>
                                                        <th>Mentor</th>
                                                        <th>Statut</th>
                                                        <th>Action</th>
                                                        <th>Fermer</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for data in demandes_mentorats %}
                                                    <tr>
                                                        <td>{{data.demandeur.user.last_name}}--{{data.demandeur.user.first_name}}</td>
                                                        <td>{{data.demandeur.telephone}}</td>
                                                        <td>{{data.demandeur.user.email}}</td>
                                                        <td>{{data.date_debut}}</td>
                                                        <td>{{data.date_fin}}</td>
                                                        {% if data.mentor %}
                                                        <td>{{data.mentor}}</td>
                                                        {% else %}
                                                        <td>Aucun</td>
                                                        {% endif %}
                                                        {% if data.statut.statut == "demande" %}
                                                        <td class="text-warning">En cours de validation <i class="fa fa-check-circle-o text-warning"></i></td>
                                                        {% elif data.statut.statut == "valide" %}
                                                        <td>Validé <i class="fa fa-check-circle text-success"></i></td>
                                                        {% else %}
                                                        <td class="text-danger">session fermer <i class="fa fa-close text-success"></i></td>
                                                        {% endif %}
                                                        <td>
                                                            <a class="btn btn-primary" href="{% url 'valider_mentorat' data.id %}" title="valider la session"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                        {% if data.statut.id == 3 %}
                                                        <td>
                                                    
                                                        </td>
                                                        {% else %}
                                                        <td>
                                                            <a class="btn btn-primary" href="{% url 'fermer_mentorat' data.id %}" title="fermer la session"><i class="fa fa-eye-slash"></i></a>
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- suivi sessions  -->
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">suivi des sessions</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table id="mentorat" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Mentoré</th>
                                                        <th>Téléphone</th>
                                                        <th>Email</th>
                                                        <th>Date debut</th>
                                                        <th>Date fin</th>
                                                        <th>Mentor</th>
                                                        <th>Statut</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for data in sessions %}
                                                    <tr>
                                                        <td>{{data.demandeur.user.last_name}}--{{data.demandeur.user.first_name}}</td>
                                                        <td>{{data.demandeur.telephone}}</td>
                                                        <td>{{data.demandeur.user.email}}</td>
                                                        <td>{{data.date_debut}}</td>
                                                        <td>{{data.date_fin}}</td>
                                                        <td>{{data.mentor}}</td>
                                                        <td>{{data.statut}}</td>
                                                        <td>
                                                            <a type="button" class="btn btn-warning" data-toggle="modal" data-target="#mentoratModal{{data.id}}"><i class="fa fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                    {% include "mentors/dashboard/mentorat_detail.html" %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                Tout droit réservé. Debeloppeé par vuneemtech
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
{% endblock 'content' %}
    