POSTGRES_DB=oser_bf
POSTGRES_USER=maarch
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=db
POSTGRES_PORT=5432

SECRET_KEY=changeme
DEBUG=False
ALLOWED_HOSTS=oser-bf.org,www.oser-bf.org
CSRF_TRUSTED_ORIGINS=https://oser-bf.org,https://www.oser-bf.org
ADMIN_ENABLED=True

EMAIL_HOST=ssl0.ovh.net
EMAIL_PORT=587
EMAIL_HOST_USER=infos@oser-bf.org
EMAIL_HOST_PASSWORD=changeme
DEFAULT_FROM_EMAIL=infos@oser-bf.org

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
