<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title" id="staticBackdropLabel">Présentation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           
          </button>
        </div>
        <div class="modal-body">
          <h5> 2- Objectifs</h5>
          <p>L'objectif principal de Eclair est de promouvoir l’insertion socio-professionnelle des jeunes au Burkina Faso. Les objectifs spécifiques sont entre autres :</p>
            <ul>
                <li> 
                  Assister les élèves et étudiants à trouver leur voie c’est-à-dire les conseiller dans leur démarche d'orientation scolaire et universitaire;
                </li>
                <li>
                  Accompagner les personnes dans leur démarche d'orientation scolaire et professionnelle pour qu'elles puissent découvrir leurs intérêts, leurs compétences, leurs aspirations, et ainsi faire des choix de carrière éclairée.
                </li>
                <li>
                  Soutenir l'insertion dans le monde du travail en leur fournissant les compétences et les ressources nécessaires pour trouver un emploi ou poursuivre des études;
                </li>
                <li>
                  Prévenir le décrochage scolaire et universitaire en aidant les jeunes à comprendre l'importance de l'éducation et en les motivant à poursuivre leurs études;
                </li>
                <li>
                  Favoriser l'autonomie des jeunes en les aidant à prendre des décisions éclairées concernant leur avenir professionnel
                </li>
                <li>
                  Promouvoir l'égalité des chances en garantissant que tous les individus, quel que soit leur milieu socio-économique, leur origine ou leur sexe aient accès à des opportunités équitables en matière d'orientation scolaire et professionnelle pouvant leur permettre de se realiser ;
                </li>
                <li>
                  Contribuer à l’atteinte des Objectifs Développement Durable (ODD) notamment les objectifs 4 (éducation de qualité), 4 (travail décent et croissance économique) et 10 (inégalités réduites).
                </li>
                <li>
                  Sensibiliser à l'entrepreneuriat pour ceux qui aspirent à devenir entrepreneurs, par des conseils et un soutien pour les aider à lancer leur propre entreprise
                </li>
            </ul>
            <h5>3- Mission</h5>
            <p>Eclair est engagée à favoriser l'égalité des chances en aidant les individus à atteindre leur plein potentiel pour se réaliser.</p>
            <h5> 4-Vision</h5>
            <p>Notre vision est de créer un avenir où chaque individu, peu importe son origine, son âge ou
            son parcours, trouve sa voie vers une carrière épanouissante et contribue positivement à la
            société.</p>
            <h5>5- Les valeurs</h5>
            <p>Nos valeurs sont:</p>
            <ul>
              <li>
                Égalité des chances: L'association veille à garantir que tous les individus, quelle que soit leur origine ou leur situation socio-économique, bénéficient d'un accès équitable aux services d'orientation et d'insertion. professionnelle.
              </li>
              <li>
                L’autonomisation : L'association encourage les individus à prendre des décisions éclairées et à devenir acteurs de leur avenir professionnel.
              </li>
              <li>
                Intégrité : L'association s'engage essentiellement à fournir des services de haute qualité et à agir de manière transparente et responsable.
              </li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fin</button>
        </div>
      </div>
    </div>
  </div>
  