{% extends "base.html" %}
{% load static %}
{% block main %}


<section class="section section-lg bg-default">
    <div class="container">
        <div class="row row-50 justify-content-center justify-content-xl-between flex-lg-row-reverse">
            <div class="col-lg-12">
                <div class="box-1">
                    <h1 style="color:#0080ff;">1- OSER? </h1>
                    <p style="text-align: justify;">
                        {{presents.about|safe}}
                    </p>
                </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="container mt-5 mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card p-3 mb-2">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                                        <div class="ms-2 c-details">
                                            <h5 class="text-center" style="color:#0080ff; text-align: justify;">2- Notre mission </h5>
                                        </div>
                                    </div>
                                    <i class="fa fa-bookmark" style="color:#0080ff; font-size:18px;" aria-hidden="true"></i>
                                </div>
                                <div class="mt-5">
                                    <p style="text-align: justify;">
                                        {{presents.mission|safe}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card p-3 mb-2">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="icon"> <i class="bx bxl-dribbble"></i> </div>
                                        <div class="ms-2 c-details text-center">
                                            <h5 class="text-center" style="color:#0080ff;">3- Notre vision </h5>
                                        </div>
                                    </div>
                                    <i class="fa fa-bookmark" style="color:#0080ff; font-size:18px;" aria-hidden="true"></i>
                                </div>
                                <div class="mt-5">
                                    <p style="text-align: justify;">
                                        {{presents.vision|safe}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row row-50 justify-content-center justify-content-xl-between flex-lg-row-reverse mx-3">
            <div class="container mt-5 mb-3">
                <h5 style="color:#0080ff;" class="text-center">4- Nos valeurs </h5>
                <div class="row">
                    {% for data in valeurs %}
                    <div class="col-md-6">
                        <div class="card p-3 mb-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="icon"> <i class="fa fa-bar-chart" style="color:#0080ff; font-siez:20px;"></i> </div>
                                    <div class="ms-2 c-details">
                                        <h6 class="mb-0" style="color:#0080ff;">{{forloop.counter}} {{data.titre}}</h6>
                                    </div>
                                </div>
                                <div class="badge"><i class="fa fa-bar-chart" style="color:#0080ff; font-siez:20px;"></i> </div>
                            </div>
                            <div class="mt-5">
                                <p style="text-align: justify;">{{data.valeur|safe}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section bg-default">
    <div class="container">
        <div class="row row-50 justify-content-center justify-content-xl-between">
            <div class="col-md-6 col-lg-12 text-center">
                <div class="wow fadeIn" data-wow-delay=".4s">
                    <img class="img-rounded w-100 h-auto" src="{% static 'media/images/groupedetravail.svg' %}" alt="">
                </div>
            </div>
           
            <div class="col-md-6 col-lg-12 text-center d-flex align-items-center">
                <div class="wow fadeIn" data-wow-delay=".6s" id="marquee-container">
                    <div id="marquee-content">
                        {% for mot in mots %}
                        <p class="lead">{{mot.mot|safe}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Services-->
<section class="section section-lg bg-default">
    <div class="container">
        <h6 class="wow fadeIn text-center" style="background-color:#F2CF05; color:#0080ff">DOMAINES DE FORMATIONS</h6>
        <div class="row row-50 justify-content-center justify-content-xl-between flex-lg-row-reverse">
            <div class="col-md-11 col-lg-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    {% for data in categories %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading{{data.id}}">
                            <button class="accordion-button collapsed text-white" style="background-color:#0080ff;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{data.id}}" aria-expanded="false" aria-controls="flush-collapse{{data.id}}">
                                {{ data.libelle }}
                            </button>
                        </h2>
                        {% for domaine in data.domaine_set.all %}
                        <div id="flush-collapse{{data.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{data.id}}" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">{{ domaine.libelle }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>





{% for message in messages %}
<script src="{% static 'js/sweetalert.min.js' %}"></script>
{% if message.tags == 'error' %}
<script>
    var m = "{{ message }}";
    swal("Réfusé!", m, "error");
</script>
{% elif message.tags == 'success' %}
<script>
    var m = "{{ message }}";
    swal("Bienvenue!", m, "success");
</script>
{% elif message.tags == 'warning' %}
<script>
    var m = "{{ message }}";
    swal("A bientôt!", m, "warning");
</script>
{% endif %}

{% endfor%}



{% comment %} <script>
    document.addEventListener("DOMContentLoaded", function() {
        var container = document.getElementById('marquee-container');
        var content = document.getElementById('marquee-content');

        var containerHeight = container.offsetHeight;
        var contentHeight = content.offsetHeight;
        var currentTop = containerHeight;

        function scrollMarquee() {
            if (currentTop <= -contentHeight) {
                currentTop = containerHeight;
            }
            currentTop--;
            content.style.top = currentTop + 'px';
            requestAnimationFrame(scrollMarquee);
        }

        content.style.top = containerHeight + 'px';
        scrollMarquee();
    });
</script>
 {% endcomment %}

{% endblock main %}

