<details class="plus-type outer-line" data-details-toggle="group-toggle">
    <summary class="display-block" id="summary_2_0">
      <span class="screen-readers">Texte fictif : </span>Lorem varius lorem
    </summary>
    <div aria-describedby="summary_2_0" class="padding-top-half-gutter flex flex-top half-gutter no-fit no-margin-bottom justify-content-stretch" data-nosnippet>
      <div class="xs-hide s-4 l-3">
        <div class="ratio-100">
          <picture class="dark-mode-hide">
            <img decoding="async" loading="lazy" src="https://pictures.kortic.com/200x200/000000.webp" alt="Image de remplacement 200x200" width="200" height="200">
          </picture>
          <picture class="dark-mode-show">
            <img decoding="async" loading="lazy" src="https://pictures.kortic.com/200x200/ffffff.webp" alt="Image de remplacement 200x200" width="200" height="200">
          </picture>
        </div>
      </div>
      <div>
      <span class="screen-readers">Texte fictif : </span><p>
  Vitae amet eu et ultricies tellus fermentum tincidunt ullamcorper diam cursus adipiscing euismod.
  </p>
  <p>
  Mi nec ultrices euismod semper non ligula duis pellentesque in lectus duis ipsum eu amet scelerisque est et.
  </p>
  <p>
  Odio justo fermentum eu curae in felis elit nec consequat pellentesque fusce lobortis purus erat volutpat.
  </p>
  <p>
  Aenean egestas poda cras at mi ipsum fusce suspendisse amet non imperdiet.
  </p>
  </div></div>
  </details>
  <details class="plus-type outer-line" data-details-toggle="group-toggle">
    <summary class="display-block" id="summary_2_1">
      <span class="screen-readers">Texte fictif : </span>Lorem non convallis iaculis fermentum
    </summary>
    <div aria-describedby="summary_2_1" class="padding-top-half-gutter flex flex-top half-gutter no-fit no-margin-bottom justify-content-stretch" data-nosnippet>
      <div class="xs-hide s-4 l-3">
        <div class="ratio-100">
          <picture class="dark-mode-hide">
            <img decoding="async" loading="lazy" src="https://pictures.kortic.com/200x200/000000.webp" alt="Image de remplacement 200x200" width="200" height="200">
          </picture>
          <picture class="dark-mode-show">
            <img decoding="async" loading="lazy" src="https://pictures.kortic.com/200x200/ffffff.webp" alt="Image de remplacement 200x200" width="200" height="200">
          </picture>
        </div>
      </div>
      <div>
      <span class="screen-readers">Texte fictif : </span><p>
  Enim cursus egestas nibh luctus ante vel et vehicula integer curae elit sapien purus elit justo mollis blandit pellentesque pretium ultricies fusce sodales tortor.
  </p>
  <p>
  Pellentesque ornare aliquet nulla sed nulla tincidunt nulla congue sapien morbi est sit amet risus sed pellentesque curabitur diam varius lorem convallis ullamcorper in sit nisl dignissim fermentum faucibus non semper tempus fermentum et.
  </p>
  <p>
  Tempus lorem egestas lorem iaculis massa faucibus vitae augue fermentum consectetur enim primis in ligula in dui sed ultrices sollicitudin praesent enim egestas.
  </p>
  </div></div>
  </details>
  <details class="plus-type outer-line" data-details-toggle="group-toggle" open>
    <summary class="display-block" id="summary_2_2">
      <span class="screen-readers">Texte fictif : </span>Lorem mauris dolor
    </summary>
    <div aria-describedby="summary_2_2" class="padding-top-half-gutter flex flex-top half-gutter no-fit no-margin-bottom justify-content-stretch" data-nosnippet>
      <div class="xs-hide s-4 l-3">
        <div class="ratio-100">
          <picture class="dark-mode-hide">
            <img decoding="async" loading="lazy" src="https://pictures.kortic.com/200x200/000000.webp" alt="Image de remplacement 200x200" width="200" height="200">
          </picture>
          <picture class="dark-mode-show">
            <img decoding="async" loading="lazy" src="https://pictures.kortic.com/200x200/ffffff.webp" alt="Image de remplacement 200x200" width="200" height="200">
          </picture>
        </div>
      </div>
      <div>
      <span class="screen-readers">Texte fictif : </span><p>
  Lorem at pretium poda cubilia sapien sit primis porttitor quis elementum suscipit lorem augue nunc.
  </p>
  <p>
  Nisl nulla augue erat blandit morbi risus varius enim ullamcorper non elementum in consectetuer sed ultricies sed amet elit faucibus.
  </p>
  </div></div>
  </details>
  <details class="plus-type outer-line" data-details-toggle="group-toggle">
    <summary class="display-block" id="summary_2_3">
      <span class="screen-readers">Texte fictif : </span>Lorem adipiscing ut proin
    </summary>
    <div aria-describedby="summary_2_3" class="padding-top-half-gutter flex flex-top half-gutter no-fit no-margin-bottom justify-content-stretch" data-nosnippet>
      <div class="xs-hide s-4 l-3">
        <div class="ratio-100">
          <picture class="dark-mode-hide">
            <img decoding="async" loading="lazy" src="https://pictures.kortic.com/200x200/000000.webp" alt="Image de remplacement 200x200" width="200" height="200">
          </picture>
          <picture class="dark-mode-show">
            <img decoding="async" loading="lazy" src="https://pictures.kortic.com/200x200/ffffff.webp" alt="Image de remplacement 200x200" width="200" height="200">
          </picture>
        </div>
      </div>
      <div>
      <span class="screen-readers">Texte fictif : </span><p>
  Fusce in pellentesque praesent est euismod elit eu pellentesque risus sed sit integer massa nonummy libero quam felis egestas cubilia amet blandit nunc ac felis pretium cursus integer mauris nec tempus vulputate fermentum pharetra non adipiscing nec.
  </p>
  <p>
  Eleifend bibendum justo adipiscing rhoncus curabitur placerat massa iaculis lectus fermentum orci sapien diam mauris consequat amet suspendisse in integer ornare ipsum quam vel ut massa cras pellentesque ultrices at nunc nibh.
  </p>
  </div></div>
  </details>
  <details class="plus-type outer-line" data-details-toggle="group-toggle">
    <summary class="display-block" id="summary_2_4">
      <span class="screen-readers">Texte fictif : </span>Lorem adipiscing proin ut
    </summary>
    <div aria-describedby="summary_2_4" class="padding-top-half-gutter flex flex-top half-gutter no-fit no-margin-bottom justify-content-stretch" data-nosnippet>
      <div class="xs-hide s-4 l-3">
        <div class="ratio-100">
          <picture class="dark-mode-hide">
            <img decoding="async" loading="lazy" src="https://pictures.kortic.com/200x200/000000.webp" alt="Image de remplacement 200x200" width="200" height="200">
          </picture>
          <picture class="dark-mode-show">
            <img decoding="async" loading="lazy" src="https://pictures.kortic.com/200x200/ffffff.webp" alt="Image de remplacement 200x200" width="200" height="200">
          </picture>
        </div>
      </div>
      <div>
      <span class="screen-readers">Texte fictif : </span><p>
  Nulla aliquam velit enim proin ligula blandit est sapien aliquam curae in sed molestie massa ultrices nibh iaculis massa nunc augue convallis a mi.
  </p>
  <p>
  Pulvinar duis convallis sed sed tincidunt nec nunc aliquam non ultrices nulla feugiat podo tristique convallis tortor in in mauris integer ultricies integer euismod magna rhoncus pharetra elementum eros aliquam vitae.
  </p>
  </div></div>
  </details>