{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Ajouter une nouvelle activité</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="{{ form.titre.id_for_label }}" class="label">Titre:</label>
                            {{ form.titre.errors }}
                            {{ form.titre }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.description.id_for_label }}" class="label">Description:</label>
                            {{ form.description.errors }}
                            {{ form.description }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.image.id_for_label }}" class="label">Image:</label>
                            {{ form.image.errors }}
                            {{ form.image }}
                        </div>
                        <div class="form-group mb-3 row">
                            <div class="col-6">
                                <label for="{{ form.debut.id_for_label }}" class="label">Date de début:</label>
                                {{ form.debut.errors }}
                                {{ form.debut }}
                            </div>
                            <div class="col-6">
                                <label for="{{ form.fin.id_for_label }}" class="label">Date de fin:</label>
                                {{ form.fin.errors }}
                                {{ form.fin }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-info" type="submit">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock main %}
