{% extends "base.html" %}

{% block main %}
<form method="post" enctype="multipart/form-data">
<div class="container mb-3">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings text-center">
                        <div class="user-profile" id="userAvatar">
                            {% if user_act.photo %}
                            <div class="user-avatar">
                                <img class="w-25 mx-auto d-block" src="{{user_act.photo.url}}" alt="{{user_act.username}}">
                            </div>
                            {% else %}
                            <div class="user-avatar" id="userAvatar">
                                <img class="w-25 mx-auto d-block" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="{{user_act.username}}">
                            </div>
                            {% endif %}
                            <h6 class="user-email">{{user_act.user.email}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                   
                        {% csrf_token %}
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Details personels</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="username">Nom utilisateur</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="{{user_act.user.username}}" readonly>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="first_name">Prenom</label>
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="{{user_act.user.first_name}}" readonly>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="last_name">Nom</label>
                                <input type="text" name="last_name" class="form-control" id="last_name" placeholder="{{user_act.user.last_name}}" readonly>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="telephone">Téléphone</label>
                                <input type="text" class="form-control" name="telephone" id="phone" placeholder="{{user_act.telephone}}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="etablissement">Etablissement</label>
                                <select class="form-control form-control-sm" name="etablissement" id="etablissement">
                                    {% for data in etablissements %}
                                    <option value="{{data.id}}" >{{data.libelle}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="commune">Commune</label>
                                <select class="form-control form-control-sm" name="commune" id="commune">
                                    {% for data in communes %}
                                    <option value="{{data.id}}">{{ data.nom_commune }}</option>
                                    {% endfor %}
                                </select>                                
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="niveau">Niveau d'etude</label>
                                <select class="form-control" name="niveau" id="niveau">
                                    {% for data in niveaux %}
                                    <option value="{{data.id}}" >{{data.libelle}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="domaine">Domaine d'etude</label>
                                <select class="form-control form-control-sm"  name="domaine" id="domaine">
                                    {% for data in domaines %}
                                    <option value="{{data.id}}" >{{data.libelle}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="profile">Profile personnel</label>
                                <textarea class="form-control" name="profile" id="profile" placeholder="{{user_act.profile}}" required></textarea>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="ojectif">Objectif personnel</label>
                                <textarea class="form-control" name="ojectif" id="ojectif" placeholder="{{user_act.ojectif}}" required></textarea>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="type_mentorat">Type de mentorat souhaité</label>
                                <select class="form-control" name="type_mentorat" id="type_mentorat">
                                    {% for data in types %}
                                    <option value="{{data.id}}" >{{data.libelle}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        

                        
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <a href="{% url 'user_profile' %}" class="btn btn-secondary">Anuler</a>
                                <button type="submit" id="submit" name="submit" class="btn btn-primary">valider</button>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

</form>

<!-- JavaScript -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var userAvatar = document.getElementById('userAvatar');
        var inputFile = document.createElement('input');
        inputFile.type = 'file';
        inputFile.style.display = 'none';
        inputFile.setAttribute('id', 'photo'); 
        inputFile.setAttribute('name', 'photo'); 
        userAvatar.appendChild(inputFile);
    
        userAvatar.addEventListener('click', function() {
            inputFile.click();
        });
    
        inputFile.addEventListener('change', function() {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    userAvatar.querySelector('img').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    });    
</script>

{% endblock main %}
