{% extends "base.html" %}
{% load static %}

      <!-- Page Header-->
      {% block main %}
      {% block Carousel %}
      <section>
          <!-- Swiper-->
          <div class="swiper-container swiper-slider swiper-slider-1" data-loop="false" data-autoplay="15000" data-simulate-touch="false">
              <div class="swiper-wrapper">
                  {% for slide in slides %}
                  <div class="swiper-slide" style="background-image: url('{{slide.image.url}}'); background-size: cover; background-position: center;">
                      <div class="swiper-slide-caption context-dark">
                          <div class="container">
                              <div class="row">
                                  <div class="col-12 col-md-10 col-lg-7">
                                      <div class="box-animation">
                                          <h6 data-caption-animate="slideInLeft" data-caption-delay="150">{{slide.titre1}}</h6>
                                          <h2 data-caption-animate="slideInLeft" data-caption-delay="300">{{slide.titre2}} <span class="text-italic font-weight-bold text-white">{{slide.titre3}}</span></h2>
                                          <div class="dropdown" id="dropdown" data-caption-animate="fadeInUp" data-caption-delay="450">
                                              <button type="button" class="btn btn-primary" href="{% url 'login' %}" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Connexion</button>
                                              <ul class="dropdown-menu">
                                                <li class="dropdown-item"><a class="" style="color:#000000; font-size:13px; font-size:13px;" href="{% url 'login' %}"><i class="fa fa-unlock" style="color:#0080ff; font-size:13px;"></i>&nbsp;  j'ai déjà un compte</a>
                                                </li>
                                                <li class="dropdown-item"><a class="" style="color:#000000; font-size:13px; font-size:13px;" data-bs-toggle="modal" data-bs-target="#chartMentorModal" href="#"><i class="fa fa-users" style="color:#0080ff; font-size:13px;"> </i>&nbsp; je veux être mentor </a>
                                                </li>
                                                <li class="dropdown-item"><a class="" style="color:#000000; font-size:13px; font-size:13px;" data-bs-toggle="modal" data-bs-target="#chartMentoreModal" href="#"><i class="fa fa-users" style="color:#0080ff; font-size:13px;"> </i>&nbsp; je  trouve un mentor </a>
                                                </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
          </div>
      </section>
      
      {% endblock Carousel %}
      <!-- A Few Words About Me-->
      {% block content %}
      
      <section class="section section-lg">
        <div class="container">
            <div class="row row-50 justify-content-center justify-content-lg-between">
                <div class="col-12">
                    <h1 class="h-custom-1 f1" style="color:#0080ff;">Faso Mentorat ? </h1>
                </div>
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <p style="text-align: justify;">{{debut.about1}}.</p>
                    <a class="btn" href="{% url 'about' %}"><span style="color:#0080ff;">Lire plus</span></a>
                </div>
                <div class="col-12 col-md-6" data-wow-delay=".4s">
                    <img class="img-fluid" src="{% static 'media/images/equipe.svg' %}" alt="">
                </div>
            </div>
        </div>
      </section>
    
      <!-- Featured-->

      <div class="row mx-3 mb-3">
        <div class="col-sm-6 text-center">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <p style="color:#0080ff;">Je suis jeune, je trouve un mentor</p>
              <a href="{% url 'login' %}" class="btn btn-primary mb-auto" style="background-color:#0080ff;">Je m'inscris</a>
              <div class="mt-auto">
                <img id="animated-image1" src="https://www.supercoloring.com/sites/default/files/styles/coloring_full/public/cif/2022/01/mentor-coloring-page.png" class="custom-image-size w-25 mt-3 animated-image" alt="Image mentor">
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-sm-6 text-center">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <p style="color:#0080ff;">Je suis un professionnel, j’accompagne un jeune</p>
              <a href="{% url 'login' %}" class="btn btn-primary mb-auto" style="background-color:#0080ff;">Je m'inscris</a>
              <div class="mt-auto">
                <img id="animated-image" src="https://st3.depositphotos.com/2801893/13369/v/450/depositphotos_133699472-stock-illustration-mentoring-and-coaching.jpg" class="custom-image-size w-25 mt-5 animated-image" alt="Image mentor">
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      

       <!-- Activité -->

      <section class="section section-lg bg-default text-center">
        <div class="container222">
            <h6 class="wow fadeIn" style="color:#0080ff;">Nos Activités </h6>
            {% for activite in activites %}
            <div class="activite">
                {% if activite.image_des %}
                <img src="{{ activite.image_des.url }}" alt="{{ activite.titre }}">
                {% endif %}
                <h4>{{ activite.titre }}</h4>
                <p>{{ activite.description }}</p>
                <small>Créé le : {{ activite.created }}</small>
            </div>
            {% endfor %}
        </div>
      </section>


      <!-- Temoignage -->
       

      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h6 class="wow fadeIn" style="color:#0080ff;">Expériences de Mentorat</h6>
            <div class="row">
                {% for data in temoignages %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card h-100 shadow-lg p-3 mb-5" style="color:#0080ff;">
                        {% if data.photo %}
                        <img src="{{data.photo.url}}" class="mx-auto d-block rounded-circle" alt="photo illustrative">
                        {% else %}
                        <img class="w-25 mx-auto d-block rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="photo illustrative">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{data.nom_prenom}}</h5>
                            <p class="card-text">{{data.description}}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12">
                    <p class="text-center">Pas de données</p>
                </div>
                {% endfor %}
            </div>
        </div>
      </section>



      <!-- Partenaire -->
      <section class="section section-lg bg-default text-center">
        <div class="container">
            <h6 class="wow fadeIn" style="color:#0080ff;">Ils nous font confiance</h6>
            <div class="row justify-content-center">
                {% for ressource in partenariats %}
                
                <div class="col-sm-10 col-md-4 col-lg-4 mb-4">
                  <div class="post-light context-dark" style="text-align: center; border-radius: 15px; padding: 20px; background-color: #fff;">
                      <img src="{{ressource.patenaire_image.url}}" alt="{{ressource.nom}}" style="width: 100px; height: 100px; object-fit: cover; border-radius: 10px; margin-bottom: 10px;">
                  </div>
              </div>
              
              
              
                {% endfor %}
            </div>
        </div>
      </section>



      <!-- Statistique -->
      <section class="section section-lg bg-default text-center">
        <div class="container">
            <h6 class="wow fadeIn" style="color:#0080ff;">Statistique</h6>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <!-- Exemple d'indicateur 1 -->
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                            <div class="chart-container" style="position: relative; height:40vh; width:100%">
                                <canvas id="myChart"></canvas>
                            </div>
                            <h6 class="text-secondary font-italic font-weight-bold">Indicateur</h6>
                        </div>
                        <!-- Exemple d'indicateur 2 -->
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Nombre de Mentoré</div>
                            <div class="card-body">
                              <h1 class="card-title text-bold">{{mentores}}</h1>
                            </div>
                          </div>
                            <h6 class="text-secondary font-italic font-weight-bold">Indicateur</h6>
                        </div>
                        <!-- Ajouter d'autres indicateurs ici -->
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Nombre de Mentors</div>
                            <div class="card-body">
                              <h1 class="card-title">{{mentors}}</h1>
                            </div>
                          </div>
                            <h6 class="text-secondary font-italic font-weight-bold">Indicateur</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

      



      <!-- RGPH-->
      <section class="section section-lg bg-default">
        <div class="container">
            <div class="text-center">
                <button id="toggleButton" type="button" class="btn btn-warning">
                    Règlement Générale sur la Protection des données Personnelles
                </button>
            </div>
            <div class="row row-50 justify-content-center justify-content-xl-between flex-lg-row-reverse" id="rgpd" style="display: none;">
                <div class="col-md-11 col-lg-12">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        {% for data in politiques %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading{{data.id}}">
                                <button class="accordion-button collapsed text-white" style="background-color:#0080ff;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{data.id}}" aria-expanded="false" aria-controls="flush-collapse{{data.id}}">
                                    {{ data.titre }}
                                </button>
                            </h2>
                            <div id="flush-collapse{{data.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{data.id}}" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">{{ data.description }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>    
    
      {% endblock content %}

            
      {% for message in messages %}
      <script src="{% static 'js/sweetalert.min.js' %}"></script>
      {% if message.tags == 'error' %}
      <script>
          var m = "{{ message }}";
          swal("Réfusé!", m, "error");
      </script>
      {% elif message.tags == 'success' %}
      <script>
          var m = "{{ message }}";
          swal("Bienvenue!", m, "success");
      </script>
      {% elif message.tags == 'warning' %}
      <script>
          var m = "{{ message }}";
          swal("A bientôt!", m, "warning");
      </script>
      {% endif %}

      {% endfor%}


      <script>
          document.addEventListener("DOMContentLoaded", function() {
            const toggleButton = document.getElementById("toggleButton");
            const rgpdSection = document.getElementById("rgpd");
        
            toggleButton.addEventListener("click", function() {
                if (rgpdSection.style.display === "none" || rgpdSection.style.display === "") {
                    rgpdSection.style.display = "block";
                } else {
                    rgpdSection.style.display = "none";
                }
            });
        });
      </script>



      <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var levels = {{ levels|safe }};
        var counts = {{ counts|safe }};

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: levels,
                datasets: [{
                    label: 'Rapport des utilisateurs',
                    data: counts,
                    borderColor: 'rgb(0, 128, 225)',
                    borderWidth: 5
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const img = document.getElementById('animated-image');
        
          // Animation de flottement
          function floatAnimation() {
            img.animate([
              { transform: 'translateY(0px)' },
              { transform: 'translateY(-20px)' },
              { transform: 'translateY(0px)' }
            ], {
              duration: 1000,
              iterations: Infinity
            });
          }
        
          // Animation de zoom sur survol
          function addHoverEffect() {
            img.addEventListener('mouseenter', () => {
              img.animate([
                { transform: 'scale(1)' },
                { transform: 'scale(1.05)' }
              ], {
                duration: 100,
                fill: 'forwards'
              });
            });
        
            img.addEventListener('mouseleave', () => {
              img.animate([
                { transform: 'scale(1.05)' },
                { transform: 'scale(1)' }
              ], {
                duration: 100,
                fill: 'forwards'
              });
            });
          }
        
          floatAnimation();
          addHoverEffect();
        });
        </script>



        <script>
            document.addEventListener('DOMContentLoaded', function() {
              const img = document.getElementById('animated-image1');
            
              // Animation de flottement
              function floatAnimation() {
                img.animate([
                  { transform: 'translateY(0px)' },
                  { transform: 'translateY(-20px)' },
                  { transform: 'translateY(0px)' }
                ], {
                  duration: 1000,
                  iterations: Infinity
                });
              }
            
              // Animation de zoom sur survol
              function addHoverEffect() {
                img.addEventListener('mouseenter', () => {
                  img.animate([
                    { transform: 'scale(1)' },
                    { transform: 'scale(1.05)' }
                  ], {
                    duration: 100,
                    fill: 'forwards'
                  });
                });
            
                img.addEventListener('mouseleave', () => {
                  img.animate([
                    { transform: 'scale(1.05)' },
                    { transform: 'scale(1)' }
                  ], {
                    duration: 100,
                    fill: 'forwards'
                  });
                });
              }
            
              floatAnimation();
              addHoverEffect();
            });
            </script>
      

    {% endblock main %}
     
    
    
   