{% extends "base.html" %}
{% load static %}

  
      <!-- Page Header-->
      {% block main %}
      {% block Carousel %}
      <section>
        <!-- Swiper-->
      
        <div class="swiper-container swiper-slider swiper-slider-1" data-loop="false" data-autoplay="5000" data-simulate-touch="false">
          <div class="swiper-wrapper">
            {% for slide in slides %}
            <div class="swiper-slide" data-slide-bg="{{slide.image.url}}">
              <div class="swiper-slide-caption context-dark">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 col-lg-7">
                      <div class="box-animation">
                        <h6 data-caption-animate="slideInLeft" data-caption-delay="150">{{slide.titre1}}</h6>
                        <h2 data-caption-animate="slideInLeft" data-caption-delay="300">{{slide.titre2}} <span class="text-italic font-weight-bold">{{slide.titre3}}</span>
                        </h2>
                        <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-primary-gradient" href="{% url 'createuser' %}"><span>Connexion</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      {% endblock Carousel %}
      <!-- A Few Words About Me-->
      {% block content %}
      
      <section class="section section-lg bg-gray-100">
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-lg-between">
            <div class="col-12">
              <h3 class="h-custom-1 f1">Qui sommes nous? </h3>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-3 wow fadeIn">
              <p>L’association s'adresse aux élèves et étudiants en recherche d'orientation scolaire ou
                professionnelle, aux adultes en reconversion , aux personnes sans emploi, ainsi qu'à toute
                personne désireuse d'améliorer ses perspectives professionnelles.</p><a class="btn btn-success" href="{% url 'about' %}"><span>Lire plus</span></a>
            </div>
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay=".2s">
              <!-- Linear progress bar-->
              <article class="progress-linear">
                <div class="progress-header">
                  <p>Scolaires</p><span class="progress-value">75</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </article>
              <!-- Linear progress bar-->
              <article class="progress-linear">
                <div class="progress-header">
                  <p>Universitaires</p><span class="progress-value">33</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </article>
              <!-- Linear progress bar-->
              <article class="progress-linear">
                <div class="progress-header">
                  <p>Professionels</p><span class="progress-value">88</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </article>
              <!-- Linear progress bar-->
              <article class="progress-linear">
                <div class="progress-header">
                  <p>Sans emplois</p><span class="progress-value">75</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </article>
              <!-- Linear progress bar-->
              <article class="progress-linear">
                <div class="progress-header">
                  <p>Stagaires</p><span class="progress-value">50</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </article>
            </div>
            <div class="col-xl-4 wow fadeIn" data-wow-delay=".4s"><img class="img-rounded" src="{% static 'media/images/home-1-369x341.png' %}" alt=""></div>
          </div>
        </div>
      </section>
      <!-- Featured Projects-->
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <h2 class="wow fadeIn">A venir...</h2>
          <div class="row row-30 row-md-50 row-xl-70">
            <div class="col-sm-6 col-lg-4 wow fadeIn">
              <!-- Post Minimal-->
              {% for data in upcoming_events %}
              <div class="post-minimal">
                <figure class="post-minimal-media"><a href="#"><img class="post-minimal-image" src="{{data.image.url}}" alt="" width="370" height="260"/></a></figure>
                <div class="post-minimal-meta">
                  <ul class="list-inline">
                    <li class="list-inline-item">Mentor:</li>
                    <li class="list-inline-itema">{{data.initiateur.username}}</li>
                  </ul>
                </div>
                <h4 class="post-minimal-title">{{data.libelle}}</h4>
              </div>
            </div>
            {% endfor %}
            <a class="button button-lg button-primary-gradient wow fadeIn" href="{% url 'get_all_even' %}" data-wow-delay=".2s"><span>Toutes les évèments</span></a>
        </div>
      </section>


      <!-- Dernière resource -->
      <section class="section section-lg bg-default text-center">
        <div class="container">
            <h2 class="wow fadeIn">Dernière ressources publiées</h2>
            <div class="row justify-content-center">
                {% for ressource in ressources %}
                <div class="col-sm-10 col-md-6 col-lg-6 wow fadeIn">
                    <!-- Post Light-->
                    {% if ressource.get_mime_type %}
                        {% if 'video' in ressource.get_mime_type %}
                            <video controls style="width: 100%;">
                                <source src="{{ ressource.ressource.url }}" type="{{ ressource.get_mime_type }}">
                                Your browser does not support the video tag.
                            </video>
                            <time class="post-light-time">{{ ressource.created|date:"D d M Y" }}</time>
                            <h4 class="post-light-title"> {{ ressource.titre }} <div class="badge">Nouveau</div></h4>
                        {% else %}
                            <a class="post-light context-dark" href="{{ressource.ressource.url}}" style="background-image: url(media/images/background.jpeg);">
                                <div class="post-light-inner">
                                    <div class="badge">Nouveau</div>
                                    <div class="post-light-main">
                                        <time class="post-light-time">{{ ressource.created|date:"D d M Y" }}</time>
                                        <h4 class="post-light-title"> {{ ressource.titre }} </h4>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div><div class="row justify-content-center">
                {% endif %}
                {% endfor %}
            </div>
            <a class="button button-lg button-primary-gradient wow fadeIn" href="{% url 'get_all_ressource' %}" data-wow-delay=".2s"><span>Toutes les ressources</span></a>
        </div>
    </section>
    
      {% endblock content %}

            
      {% for message in messages %}
      <script src="{% static 'js/sweetalert.min.js' %}"></script>
      {% if message.tags == 'error' %}
      <script>
          var m = "{{ message }}";
          swal("Réfusé!", m, "error");
      </script>
      {% elif message.tags == 'success' %}
      <script>
          var m = "{{ message }}";
          swal("Bienvenue!", m, "success");
      </script>
      {% elif message.tags == 'warning' %}
      <script>
          var m = "{{ message }}";
          swal("A bientôt!", m, "warning");
      </script>
      {% endif %}

      {% endfor%}

      {% endblock main %}
     
    
    
   