{% extends "base.html" %}

{% load static %}
{% block main %}
{% if request.user.groups %}

<div class="row mx-3 mb-3">
  {% if not mentors_group %}
  {% if not user_group %}
    <div class="col-sm-6 text-center">
      <div class="card">
        <div class="card-body">
          <a href="#" class="btn btn-primary" style="background-color:#0080ff;" data-bs-toggle="modal" data-bs-target="#exampleModal">Je veux être mentor</a>
        </div>
      </div>
    </div>
  {% endif %}
  {% endif %}
    
  {% if not user_group %}
  {% if not mentors_group %}
    <div class="col-sm-6 text-center">
      <div class="card">
        <div class="card-body">
          <a href="#" class="btn btn-primary" style="background-color:#0080ff;" data-bs-toggle="modal" data-bs-target="#exampleModal1">Je trouve un mentor</a>
        </div>
      </div>
    </div>
  {% endif %}
  {% endif %}
</div>


<section class="section mb-3"> 
  <div class="container">
      <div class="row row-50 justify-content-center justify-content-xl-between flex-lg-row-reverse">
          <div class="col-md-12 col-lg-6">
              <div class="col-xl-12 wow fadeIn" data-wow-delay=".4s"><img class="img-rounded w-50" src="{% static 'media/images/echange.svg' %}" alt=""></div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="col-xl-12 wow fadeIn" data-wow-delay=".4s"><img class="img-rounded w-50" src="{% static 'media/images/conversation.svg' %}" alt=""></div>
        </div>
      </div>
  </div>
</section>

{% endif %}
 

{% include "mentors/mentors_legal.html" %}
{% include "mentors/users_legal.html" %}

{% for message in messages %}
  <script src="{% static 'js/sweetalert.min.js' %}"></script>
  {% if message.tags == 'error' %}
    <script>
      var m = "{{ message }}";
      swal("Réfusé!", m, "error");
    </script>
  {% elif message.tags == 'success' %}
    <script>
      var m = "{{ message }}";
      swal("Bienvenue!", m, "success");
    </script>
  {% elif message.tags == 'warning' %}
    <script>
      var m = "{{ message }}";
      swal("A bientôt!", m, "warning");
    </script>
  {% endif %}
{% endfor %}



{% endblock main %}



{% block jsscript %}
<script>
    $(document).ready(function() {
        $('#example').DataTable(
            {
                "info": false,
            }
        );
    });
</script>
{% endblock jsscript %}