{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
{% endblock extra_head %}

{% block main %}
<div class="container">
    <h4 class="text-center mb-3">Tableau des orientations</h4>

    <table id="example" class="table table-striped">
        <thead class="table-success">
            <tr>
                <th>Type d'orientation</th>
                <th>Filières/Series</th>
                <th>Débouchées</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                {% for filiere in item.filieres %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ item.filieres|length }}"><i class="fa fa-check text-success"></i>&nbsp; {{ item.type }}</td>
                        {% endif %}
                        <td>{{ filiere.filiere }}</td>
                        <td>
                            <ul>
                                {% for debouche in filiere.debouches %}
                                    <li><i class="fa fa-link text-warning"></i>&nbsp; {{ debouche }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock main %}

{% block jsscript %}
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable(
            {
                "info": false,
            }
        );
    });
</script>
{% endblock jsscript %}
