{% extends "base.html" %}


{% block main %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header text-center">
                            <div id="error_div"></div>
                            <h5 class="font-weight-light my-4">saisir votre adresse email</h5>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="email" name="email" class="form-control" 
                                           autocomplete="email" maxlength="254" required id="id_email"
                                           placeholder="exemple@gmail.com">
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-dark btn-block">Valider</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
