{% extends "base.html" %}
{% load static %}
{% block main %}
<!-- My Approach-->
<section class="section bg-default">
    <div class="container">
        <h6 class="wow fadeIn text-center shadow-lg border border-5" style="background-color:#0080ff; color:white">Nos actions</h6>
        <div class="row row-50 justify-content-center justify-content-xl-between flex-lg-row-reverse">
            <div class="col-md-11 col-lg-12">
                <div class="col-xl-12 wow fadeIn text-center" data-wow-delay=".4s"><img class="img-rounded w-75" src="{% static 'media/images/equipe.svg' %}" alt=""></div>
            </div>
        </div>
    </div>
</section>



<section class="section section-lg bg-default">
    <div class="container">
        <div class="row row-50 justify-content-center justify-content-xl-between flex-lg-row-reverse">
            <div class="col-md-11 col-lg-12">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    {% for projet in projets %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading{{projet.id}}">
                            <button class="accordion-button collapsed text-white" style="background-color:#0080ff;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{projet.id}}" aria-expanded="false" aria-controls="flush-collapse{{projet.id}}">
                                {{ projet.titre }}
                            </button>
                        </h2>
                        <div id="flush-collapse{{projet.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{projet.id}}" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">{{ projet.contenu }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}
